<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><a href="/admin_psychiatrist_approval">Psychiatrist Approval</a> </p>
<p><a href="/admin_approved_psychiatrist">Approved Psychiatrist</a> </p>
<p><a href="/admin_rejected_psychiatrist">Rejected Psychiatrist</a> </p>
<p><a href="/admin_view_users">Registered Users</a> </p>
<p><a href="/admin_view_complaints">Complaints</a> </p>
<p><a href="/change_password">Change Password</a> </p>

</body>
</html>