<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="" onsubmit="return validate()">
    <table border="1">
        <tr>
            <td>New Password</td>
            <td><input type="password" name="t1" id="t1" required/></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="t2" id="t2" required/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="SUBMIT" /></td>
        </tr>
    </table>
</form>
<script>
    function validate() {
        var psw=document.getElementById("t1").value;
        var cpsw=document.getElementById("t2").value;
        if(psw != cpsw){
            alert("Password mismatch");
            return false;
        }
        return true;

    }
</script>
</body>
</html>