<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>#</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>HOUSE</th>
        <th>PLACE</th>
        <th>POST</th>
        <th>DISTRICT</th>
    </tr>

    {% for i in data %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.phone }}</td>
        <td>{{ i.house }}</td>
        <td>{{ i.place }}</td>
        <td>{{ i.post }}</td>
        <td>{{ i.district }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>