<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="" enctype="multipart/form-data">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" name="t1" required/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="t2" required/></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="t3" pattern="[6789][0-9]{9}" maxlength="10" required/></td>
        </tr>
        <tr>
            <td>Qualification</td>
            <td><input type="text" name="t4"required /></td>
        </tr>
        <tr>
            <td>Experience</td>
            <td><input type="text" name="t5" required/></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="f1" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="t6" required/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="REGISTER" /></td>
        </tr>
    </table>
</form>
</body>
</html>